/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    color: #ff9522;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
    position: relative;
    color: #ff9522; /* Neon orange */
}

h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ff9522;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

p {
    margin-bottom: 20px;
}

/* Header Styles */
header {
    background: #1f1f1f;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    float: left;
    color: #ff9522;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ff9522;
}

/* Hero Section */
#hero {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
    color: #ff9522;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 40px;
    animation: fadeInUp 1s ease forwards 0.5s;
    opacity: 0;
}

.btn {
    display: inline-block;
    background: #ff9522;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeInUp 1s ease forwards 1s;
}

.btn:hover {
    background: #ffcc00;
}

/* About Section */
#about {
    padding: 60px 0;
}

/* Prices Section */
#prices {
    background-color: #f2f2f2;
    padding: 60px 0;
    color: #000;
}

.price-card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.price-image {
    flex: 0 0 30%;
    margin-right: 20px;
}

.price-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.price-details h3 {
    color: #333;
    margin-bottom: 20px;
}

.price-details p,
.price-details ul li {
    color: #666;
}

.price-details span {
    color: inherit;
}

/* Projects Section */
#projects {
    padding: 60px 0;
}

.project {
    display: flex;
    margin-bottom: 40px;
}

.project-image {
    flex: 0 0 40%;
    margin-right: 20px;
}

.project-image img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details {
    flex: 1;
}

.project-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff9522;
}

.project-details p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ccc;
}

/* Services Section */
#services {
    background-color: #f2f2f2;
    color: #1f1f1f;
    padding: 60px 0;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around; /* Space between services */
    flex-wrap: wrap; /* Wraps services if screen is smaller */
    gap: 40px; /* Add spacing between the service items */
}

.service {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 300px; /* Fixes width for a consistent look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff9522;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ff9522;
}

.service p, .service ul {
    font-size: 16px;
    color: #666;
}

.service ul {
    padding-left: 20px;
}

.service ul li {
    margin-bottom: 10px;
    color: #1f1f1f;
}

.image-container {
    display: flex;
    justify-content: space-between; /* distributes space between images */
    margin-top: 10px; /* adds space above images */
}

.image-container img {
    max-width: 48%; /* ensures images take up a good portion of the width */
    height: auto; /* maintains aspect ratio */
    transition: transform 0.3s ease; /* smooth transition for the scaling effect */
}

.image-container img:hover {
    transform: scale(2); /* enlarges the image on hover */
    z-index: 10; /* brings the image above other elements */
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }
}


/* Skills Section */
#skills {
    padding: 60px 0;
}

.skill {
    margin-bottom: 40px;
}

.skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff9522;
}

.skill ul {
    list-style-type: none;
    padding-left: 0;
}

.skill ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ccc;
}

/* Contact Section */
#contact {
    background-color: #f2f2f2;
    color: #1f1f1f;
    padding: 60px 0;
}

.contact-container {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #ff9522;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #ffcc00;
}

/* Footer Styles */
footer {
    background: #1f1f1f;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
